@model IEnumerable<PassionProject.Models.EmployeeDto>

@{
    ViewBag.Title = "List";
}

<h2>Employee List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lname)
        </th>
        <th class="optional-item">
            @Html.DisplayNameFor(model => model.DOJ)
        </th>
        <th class="optional-item">
            @Html.DisplayNameFor(model => model.Bio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lname)
        </td>
        <td class="optional-item">
            @*@Html.DisplayFor(modelItem => item.DOJ.ToString("dd/MM/yyyy"))*@
            @item.DOJ.ToString("dd/MM/yyyy")
        </td>
        <td class="optional-item">
            @Html.DisplayFor(modelItem => item.Bio)
        </td>
        <td style="display:flex; gap:5px; flex-wrap:wrap;">
            @Html.ActionLink("Edit", "Edit", new { id=item.EmployeeId }, new { @class= "btn btn-primary", @style="flex-grow:1" }) 
            @Html.ActionLink("Details", "Details", new { id=item.EmployeeId }, new { @class = "btn btn-info", @style = "flex-grow:1" }) 
            @Html.ActionLink("Delete", "DeleteConfirm", new { id=item.EmployeeId }, new { @class = "btn btn-danger", @style = "flex-grow:1" })
        </td>
    </tr>
}

</table>
